.col-sm-4{
    position:relative;
    min-height:1px;
    padding-right:15px;
    padding-left:15px
}
@media (min-width:768px){
    .col-sm-4{
        float:left
    }
    .col-sm-4{
        width:50%
    }
}
