{% extends "admin/change_list.html" %}
{% load static %}
{% load shop_tags %}
{% load tz %}
{% load humanize %}
{% block content_title %}
    <h1>Money spent per clients Summary</h1>
{% endblock %}
{% block extrahead %}
<link rel="stylesheet" type="text/css" href="{% static 'shop/chart.css' %}"/>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.0/Chart.min.js"></script>
<script>
    var randomColorGenerator = function () {
        return '#' + (Math.random().toString(16) + '0000000').slice(2, 8);
    };
    var options = {
        responsive: true,
        maintainAspectRatio: true,
        legend: {
            position: 'left',
        },
        title: {
            display: true
        },
        animation: {
            animateScale: true,
            animateRotate: true
        }
    };
    window.onload = function () {
        var ctx = document.getElementById("client-chart");
        {% regroup cl.queryset by receipt_id.client_id as receipt %}
        var lineChart = new Chart(ctx, {
            type: 'doughnut',
            data: {
                labels: [{% for client in receipt %}'{{ client.grouper.full_name }}',{% endfor %}],
                datasets: [{
                    data: [{% for client in receipt %}{{ client.list|CalculateTotalSpent }},{% endfor %}],
                    backgroundColor: [randomColorGenerator(),randomColorGenerator()]
                }]
            },
            options: options
        });
    };
</script>
{% endblock %}
{% block result_list %}
    <div class="results">
        {% regroup cl.queryset by receipt_id.client_id as receipt %}
        <table>    
        <thead>
            <tr>
                <th>
                <div class="text">
                    <a href="#">Client</a>
                </div>
                </th>
                <th>
                <div class="text">
                    <a href="#">Spent Money</a>
                </div>
                </th>
            </tr>
        </thead>
            <tbody>
                {% for client in receipt %}
                <tr class="{% cycle 'row1' 'row2' %}">
                    <td> {{ client.grouper.full_name }} </td>
                    <td> {{ client.list|CalculateTotalSpent|floatformat:2 }} </td>
                </tr>
                {% endfor %}
                <tr style="font-weight:bold; border-top:2px solid #DDDDDD;">
                    <td>Total</td>
                    <td> {{ summary_total.total_sales|floatformat:2 }} </td>
                </tr>                
            </tbody>
        </table>
    </div>
    <br>
    <h2> Graph </h2>
    <br>
    <div class="row">
        <div class="col-sm-4">
            <canvas id="client-chart" style="width: 200px !important;"></canvas>
        </div>
    </div>
{% endblock %}
{% block pagination %}{% endblock %}