{% extends "admin/change_list.html" %}
{% load static %}
{% load shop_tags %}
{% load tz %}
{% load humanize %}
{% block content_title %}
    <h1>List of products sold per receipt - Summary</h1>
{% endblock %}
{% block extrahead %}
<link rel="stylesheet" type="text/css" href="{% static 'shop/chart.css' %}"/>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.0/Chart.min.js"></script>
{% endblock %}
{% block result_list %}
    <link rel="stylesheet" type="text/css" href="{% static 'shop/chart.css' %}"/>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.0/Chart.min.js"></script>
    <div class="results">
        {% regroup cl.queryset by product_id as product_list %}
        <table>
        <thead>
            <tr>
                <th>
                <div class="text">
                    <a href="#">Product name</a>
                </div>
                </th>
            </tr>
        </thead>
            <tbody>
                {% for product in product_list %}
                <tr class="{% cycle 'row1' 'row2' %}">
                    <td>{{ product.grouper.name }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}
{% block pagination %}{% endblock %}